body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 1.0);
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1.0;
}

.toggles {
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 1.0);
}

.toggles i {
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 8px;
  opacity: 1.0;
}